<% if user_signed_in? %>
  <%= render "friend_table", friend: @friend %> 
  <%= link_to "Add New friend", new_friend_path, class:'btn btn-success' %>
  <%= render 'layouts/footer' %>
<% else %>
  <h1>Welcome!</h1>
  <p>You have to login to access the friends table</p>
  <%= link_to "Log in", new_user_session_path, class:'btn btn-primary' %>
<% end %>

    <%
=begin%>

<div id="friends">
  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to "Show this friend", friend, class:'btn btn-outline-info' %>
    </p>
    <br> 
  <% end %>
</div>

<%
=end%>


